<div id="contact" class="overlay">
  <a class="cancel" href="#"></a>
  <div class="contact">
    <h2>Say hi! 👋</h2>
    <div class="content">
      <div>
        <form
          method="POST"
          action="https://formspree.io/f/mqkgjrqo"
        >
          <input type="text" name="name" required placeholder="name" />
          <input type="email" name="email" required placeholder="email" />
          <textarea
            rows="10"
            name="message"
            required
            placeholder="message"
          ></textarea>
          <button type="submit">send</button>
        </form>
      </div>
    </div>
  </div>
</div>
