<main>
  <header>
    <h1>{{ site.name }}</h1>
    <h2>{{ site.job-title }}</h2>
  </header>
  <footer>
    <a
      class="link"
      href="{{ site.linkedin-url }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Arief Samuel LinkedIn"
    >
      <i class="icon linkedin"></i>
    </a>
    <a
      class="link"
      href="{{ site.github-url}}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Arief Samuel Github"
    >
      <i class="icon github"></i>
    </a>
    <a
      class="link"
      href="{{ site.projects-url }}"
      target="_blank"
      rel="noopener noreferrer"
      aria-label="Arief Samuel Personal Projects"
    >
      <i class="icon projects"></i>
    </a>
    <a class="link" href="#contact" aria-label="Arief Samuel Contact">
      <i class="icon mail"></i>
    </a>
  </footer>
</main>
